.main {
  background-color: transparent;
  font-family: Raleway, Arial, Helvetica, sans-serif !important;
  font-size: 20px;
  font-weight: 550;
  padding: 20px 10vw;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a {
  color: rgba(20, 15, 73, 1) !important;
}

a:hover {
  color: rgba(53, 161, 205, 1) !important;
}
