.main {
  background-color: rgba(254, 254, 254, 1);
  font-family: Raleway, Arial, Helvetica, sans-serif !important;
  font-size: 20px;
  font-weight: 550;
  padding: 16px 10vw;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 240px 1px rgba(216, 216, 216, 0.24);
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a {
  color: rgba(20, 15, 73, 1) !important;
}

a:hover {
  color: rgba(53, 161, 205, 1) !important;
}

/* .pink-text {
  color: rgba(53, 161, 205, 1);

} */
